@using ServiceClaim.Models
@model IEnumerable<ServiceClaim.Models.ServiceIssuePeriodItem>

@{
    var monthes = ServiceIssuePlan.GetMonthesFromItemArray(Model);
    int mColLenght = 12 / monthes.Count;
}

@if (Model.Any())
{
    <div class="row">
        @foreach (var mth in monthes)
        {
            <div class="col-lg-@mColLenght">
                @foreach (var item in Model)
                {
                <div class="col-lg-">
                    <h4 name="periodTitle" value="@item.ListValue" class="cursor-pointer">@item.ListName <span class="label label-info label-as-badge">@item.DaysDiff</span></h4>

                    @{
                        var issueList = item.GetServiceIssueList();
                    }
                    <div id="periodContainer-@item.IdValue">
                        @if (issueList.Any())
                        {
                            foreach (var issue in issueList)
                            {
                                @Html.Partial("ServiceIssuePlanItem", issue)
                            }
                        }
                    </div>
                </div>
                }
            </div>
        }
    </div>
                    }

<script type="text/javascript">
    $(function () {
        $('[name="periodTitle"]').click(function () {
            var val = $(this).attr('value');
            $('#selPeriod').val(val);
        });
    });

    
</script>