@model ServiceClaim.Models.ServiceIssuePlan

<div name="issueItem" id="sid-@Model.IdServiceIssue-tid-@Model.IdServiceIssueType" class="issue-plan-item">
    <h5 class="margin-sm">
        №@Model.IdServiceIssue
    </h5>
    @Model.IdServiceIssueType
</div>
