body {
    font-family: Arial;
    background: #B4B4B4 url(../Content/images/bg1.png) repeat left top;
    padding-top: 50px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-content {
    background: #fff;
    padding-top: 20px;
}

.body-content {
    box-shadow: 0 0 10px #666;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

select {
    font-family:monospace,monospace;
  font-size:1em;
}

.monospace {
    font-family:monospace,monospace;
  font-size:1em;
}

.navbar {
    box-shadow: 0 0 25px #333;
    margin-bottom: 0px !important;
}

.navbar-brand {
    padding-top: 3px;
}

    .navbar-brand div {
        padding: 3px 0 0 8px;
        margin: 0;
    }

.brand-prefix {
    padding-top: 5px;
}

.headLogo {
    display: block;
    height: 25px;
    padding-left: 25px;
}

input.required-mark, select.required-mark, span.required-mark, textarea.required-mark {
    background-color: #fcf8e3;
}

#filter .panel-heading {
    cursor: pointer;
}

#filter .panel-title .title:after {
    font-family: 'FontAwesome';
    content: "\f0d7";
    float: right;
    color: #999;
}

#filter .collapsed .title:after {
    content: "\f0d8";
}

#filter .panel-title:after {
    content: "скрыть фильтр";
}

#filter .collapsed:after {
    content: "показать фильтр";
}

#filterPanel {
    background: #eee;
}

.field-validation-error {
    color: #d9534f;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #d43f3a;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #d9534f;
}

.validation-summary-valid {
    display: none;
}

ul.tree {
    list-style: none;
}

    ul.tree li {
        padding-bottom: 10px;
    }

.tree li div.panel-title.collapsed .h4:before {
    font-family: FontAwesome;
    content: "\f0da   ";
}

.tree li div.panel-title .h4:before {
    font-family: FontAwesome;
    content: "\f0d7   ";
}

.tree li div.panel-title {
    cursor: pointer;
}

.btn-taped {
    position: relative;
    top: 3px;
}


.table-stuff {
    padding: 0;
    margin: 0;
}

.min-width {
    width: 1px !important;
}

.width-20p {
    width: 20%;
}

.btn-nopadding {
    padding: 0;
    margin: 0;
}

.photo-info {
    width: 250px;
    padding-right: 5px;
    padding-top: 5px;
}

.bold {
    font-weight: 700;
}

.text-warning.light {
    color: #d58512;
}

.cursor-pointer {
    cursor: pointer;
}

.nomargin {
    margin: 0;
}
.nopadding {
    padding: 0;
}

.padding-sm {
    padding: 5px 10px;
}

.margin-sm {
    margin: 5px 0px;
}

.padding-lg {
    padding: 20px;
}

.history-state-block {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.sel-list tr:hover {
    cursor: pointer;
    background-color: #fcf8e3;
}

.sel-list tr.bg-primary:hover {
    background-color: #337ab7;
}

.text-nowrap {
    white-space: nowrap;
}

.pad-6 {
    padding: 6px;
}

.pad-t-15 {
    padding-top: 15px;
}

.text-middle {
    vertical-align: middle;
}

.text-sm {
    font-size: 0.9em !important;
}

.text-xs {
    font-size: 0.7em !important;
}

.info-top {
    position: relative;
    top: -8px;
    cursor: help;
}

.label-badge {
    border-radius: 1em;
}

.small {
    font-size: 0.8em;
    color: #999;
}

blockquote.bg-warning {
    border-color: #f0ad4e;
}

blockquote.bg-danger {
    border-color: #d9534f;
}

blockquote.bg-success {
    border-color: #3c763d;
}

blockquote.bg-info {
    border-color: #afd9ee;
}

.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;

  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.spinner.on-input {
    z-index:999;
    position:absolute;
    top: 7px;
    left: 10px;
}

.spinner.on-element {
    z-index:999;
    position:absolute;
}

.spinner.active {
    cursor:progress;
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

.planing-sel-list {
    
}
.planing-sel-list .pad-1 {
    margin-left: 15px;
}

.planing-sel-list .pad-2 {
    margin-left: 15px;
    font-size: 0.9em;
}

.planing-sel-list .pad-3 {
    margin-left: 15px;
    font-size: 0.9em;
}

a.async-sel {
    /*border-bottom: 1px dashed #000080 !important;*/
}

a.async-sel:hover, a.async-sel:focus {
    text-decoration: none;
    /*border-bottom: none;*/
}

a.async-sel:visited {
    text-decoration: none;
}

.pad-b-md {
    padding-bottom: 15px;
}

.btn-xl {
    height: 100%;
}

.sub-menu-fixed-top {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 50px;
}
.sub-menu-fixed-top-marginer {
    margin-bottom: 70px;
}
.sub-menu-fixed-top-padding {
    padding-top: 70px;
}

.updated-issue-item {
    /*border: 1px solid red;*/
    -webkit-animation-name: updated-issue-item; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: updated-issue-item;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes updated-issue-item {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes updated-issue-item {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

.accent-issue-item {
    /*border: 1px solid red;*/
    -webkit-animation-name: accent-issue-item; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: accent-issue-item;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes accent-issue-item {
    0% {background-color: #3c763d;}
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes accent-issue-item {
    0% {background-color: #3c763d;}
    100% {background-color: #fff;}
}



.issue-plan-item {
    border: 1px solid #3c763d;
    border-radius: 5px;
    padding: 2px;
    margin: 1px;
    font-size: 0.8em;
    display: table;
    width: 100%;
}

.issue-plan-item:hover {
    cursor: pointer;
    /*background-color: #c1e2b3;*/
}


.issue-item {
   border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-size: 0.9em; 
    cursor: pointer;
}

.issue-item-sm {
    border: 1px solid #999;
    color: #000;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    font-size: 0.9em; 
    cursor: pointer;
    display: block;
}

.issue-item-sm:hover {
    /*background-color: #3c763d;
    color: #fff;*/
    text-decoration: none;
}

.label-default-size {
    font-size: 1em !important;
}

.issue-plan-item.client {
    border-color: #286090;
    background-color: #337ab7;
    color: #fff;
}
.issue-plan-item.client:hover {
    background-color: #286090;
}

.issue-plan-item.city {
    border-color: #c1e2b3;
    background-color: #dff0d8;
    color: #000;
}
.issue-plan-item.city:hover {
    background-color: #c1e2b3;
}

.issue-plan-item.address {
    border-color: #afd9ee;
    background-color: #d9edf7;
    color: #000;
}
.issue-plan-item.address:hover {
    background-color: #afd9ee;
}

.issue-plan-item.device {
    border-color: #e4b9b9;
    background-color: #f2dede;
    color: #000;
}
.issue-plan-item.device:hover {
    background-color: #e4b9b9;
}

.issue-plan-item.engeneer {
    border-color: #f7ecb5;
    background-color: #fcf8e3;
    color: #000;
}
.issue-plan-item.engeneer:hover {
    background-color: #f7ecb5;
}

.updated-input {
    /*border: 1px solid red;*/
    -webkit-animation-name: updated-input; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: updated-input;
    animation-duration: 4s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes updated-input {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

/* Standard syntax */
@keyframes updated-input {
    0% {background-color: #ffecb3;}
    100% {background-color: #fff;}
}

.issues-count {
    width: 40px !important;
}

.label-as-badge {
    border-radius: 1em;
}


.filter-state-inem {
    float: left;
    margin: 3px;
}

.filter-state-inem a {
    display: block;
    padding: 5px;
}

.no-marg-bot {
    margin-bottom: 0 !important;
}

.nav-btn-primary {
    color: #fff !important;
  background-color: #337ab7 !important;   
}

.nav-btn-primary:hover {
    color: #fff !important;
  background-color: #286090 !important;
  border-color: #204d74 !important;
}

.bg-white {
    background-color: #fff;
}

#engeneersSelect {
max-height: 500px;
overflow-y: auto;
overflow-x: hidden;
}

.period-container {
    border: 2px solid transparent;
}

.period-container .period-title {
    padding: 5px;
}

.period-container.selected .period-title {
    
    background-color: #ffecb3;
}

.period-container.selected {
    
    border: 2px solid #ffecb3;
}

.valign-middle {
    vertical-align: middle !important;
}

.line-sm {
    border-width: 5px;
}

.line-success {
    border-color: #3c763d;
}

.line-danger {
    border-color: #d9534f;
}

.service-sheet-item {
    border: 2px solid #ffecb3;
    margin: 7px;
    padding: 5px;
}

.service-sheet-item:hover {
    border: 2px solid transparent;
    background-color: #ffecb3;
}

.ss-pay-btn {
    width: 100% !important;
    min-height: 55px;
    line-height: 2 !important;
    margin-top: 5px;
    vertical-align: middle;
}

.input-xs {
 height: 25px;
  padding: 2px 5px;
  font-size: 10px;
  line-height: 1.5;
  border-radius: 3px;   
}

.state-group-filter-item.selected {
    position: relative;
    top: 10px;
}

.text-center-xs {
        text-align: center;
    }

@media (min-width: 768px) {
    .text-center-sm {
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .text-right-lg {
        text-align: right;
    }
}